.card-largura{
    max-width: 18rem;
}

/*CARROSSEL*/
.imagem-carrossel-um{
    /*object-fit >> como que o objeto se comporta em relação ao container 
    o COVER adapta a imagem ao container sem distorce-lo.*/
    object-fit: cover ;
    /*object-position >> movimenta a imagem no eixo X e Y object-position: x% y%;*/
    object-position: 0 70%;
    height: 400px
}

.imagem-carrossel-dois{
    /*object-fit >> como que o objeto se comporta em relação ao container 
    o COVER adapta a imagem ao container sem distorce-lo.*/
    object-fit: cover ;
    height: 400px
}

.carousel-caption{
    height: 60%;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    /*o !important faz com que essa fonte passe por cima dos outros estilos em cascata. */
    color: darkred ;
    /*color: darkred !important*/
}
#cor{
    /*usar o ID acaba substituindo o !important pois o ID tem uma força maior.  */
    color: darkred ;
}

.botao-cor-especial{
    background-color: darkred;
    color: aliceblue;
    border-color: darkred;
}

.botao-cor-especial:hover{
    background-color: rgb(97, 4, 4);
    color: aliceblue;
}
.borda_card{
    border-color:darkred;
}

/*CARDS*/
.card-posicao-img{
    object-fit: cover;
    height: 200px;
}

.card-posicao-img2{
    object-fit: cover;
    height: 200px;
    object-position: 0 75%;
}

/* opção de #receitas com flexbox
#receitas{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: space-around
}
*/
